<center>
<h1>Rock, Paper, Scissors, shoot!!</h1>
<h2>Enter your name to play:</h2>
<form action="/names" method="post">
  <br>
  Player 1:<br>
  <input type="text" name="player_1_name"><br>
  Player 2:<br>
  <input type="text" name="player_2_name">
  <br><br>
  <input type="submit" value="Submit"
</form>

</center>
