<!-- <center>

<h2>
And <#%= @player_2_name %>, your turn: rock, paper or scissors?<br>
<br>

<form action="/second_move" method="post">
  Rock: <br>
  <input type="radio" name="choice" value="rock"><br>
  Paper: <br>
  <input type="radio" name="choice" value="paper"><br>
  Scissors: <br>
  <input type="radio" name="choice" value="scissors"><br>
<br>
  <input type="submit" value="Shoot!">
  </h2>
<center> -->
